<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employye DashBoard</title>
</head>
<body>
    <!-- <h1>{{city}}</h1> -->
    {% for s in city %}
    <!-- city_name:{{s.city}}
    city_count:{{s.city_count}}
    <br> -->

    <table border="1">
        <tr>
            <th>City Name</th>
            <th>City Count</th>
        </tr>
        <tr>
            <td>{{s.city}}</td>
            <td>{{s.city_count}}</td>
        </tr>
    </table>
  {% endfor %}
</body>
</html>